.discourse-scroll-down-button {
  margin-right: 30%;
  margin-bottom: 0.5em;
}
.discourse-scroll-up-button {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.timeline-controls{
  display: flex;
  align-items: center;
}
